body{
    background-color: #5cb85c;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.quantity{
    width: 100px;
    font-size: small;
    margin-left: 15px;
    text-align: right;
}
.butSub{

   width: 200px;
   margin-left: 300px;
   margin-top: 10px;
}
.selMc{

   width: 250px;
   margin-left: 15px;
   font-size: xx-large;

}
.panel-title{
 
   color:white;
}
.panel-default>.panel-heading{

   background-image: linear-gradient(to bottom,#f5f5f5 0,#2e6da4 100%);
}