<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>HibernateSessionRequestFilter</filter-name>
  	<display-name>HibernateSessionRequestFilter</display-name>
  	<description></description>
  	<filter-class>it.polito.ai.Util.HibernateSessionRequestFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>HibernateSessionRequestFilter</filter-name>
  	<url-pattern>/HibernateSessionRequestFilter</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>MongoFilter</filter-name>
  	<display-name>MongoFilter</display-name>
  	<description></description>
  	<filter-class>it.polito.ai.Util.MongoFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>MongoFilter</filter-name>
  	<url-pattern>/MongoFilter</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>ProvaDB</servlet-name>
  	<display-name>ProvaDB</display-name>
  	<description></description>
  	<servlet-class>it.polito.ai.Util.ProvaDB</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProvaDB</servlet-name>
  	<url-pattern>/ProvaDB</url-pattern>
  </servlet-mapping>
</web-app>
