<div class="col-lg-5">
	<div class="panel panel-default">
		<div class="panel-heading">Urban Lines</div>
		<!--
		<div class="panel-body">
		</div>
		-->
		<table class="table table-hover">
		    <tr>
		        <th>Line</th>
		        <th>Description</th>
		    </tr>

		    <tr ng-class="{active: ctrl.lineID == line.line}" ng-repeat="line in ctrl.lines" ng-click="ctrl.goToLink(line)">
		    	<td>{{line.line}}</td>
		        <td>{{line.desc}}</td>
		    </tr>
		</table>
	</div>
</div>

<div class="col-lg-7">
    <leaflet  bounds="bounds" paths="paths" height="480px"></leaflet>
</div>